# This file is updated at build time by CodeBuild to point to CodeArtifact
# aws codeartifact login --tool npm --domain fincorp-artifacts --repository npm-store --region us-east-1
registry=https://registry.npmjs.org/
